{% extends "base.html" %}
{% block title %}Cards{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block nav %}
{{ super() }}
{% endblock %}

{% block content %}
<h1>List of cards</h1>
{% for datas in data['data'] %}
<div class="card-body">
    <!-- data['data'] to access the dict inside the list -->
    <div class="card-img-container">
        <img src="https://storage.googleapis.com/ygoprodeck.com/pics_small/{{datas['id']}}.jpg" alt="" srcset="">
    </div>
    <div class="card-info-container">
        <h2 id="card-title">{{ datas['name'] }} </h2>
        <p>Type: {{ datas['type'] }} </p>
        <p>Attack: {{ datas['atk'] }} </p>
        <p>Defense: {{ datas['def'] }}</p>
        <p>
            Level: {{ datas['level'] }}
            {% for stars in range(datas['level']) %}
            <i class="uis uis-star" style="color: #FFE063;"></i>
            {% endfor %}
        </p>
    </div>
    <div class="button-container">
        <button class="open-card-btn">
            <a href="/card/{{datas['id']}}">See more</a>
        </button>
        <button class="add-btn">
            <a href="">Add to deck</a>
        </button>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}